[attr]lock filter=lfs diff=lfs merge=binary -text lockable
[attr]lockonly lockable
[attr]lfs filter=lfs diff=lfs merge=binary -text
[attr]lfstext filter=lfs diff=lfstext merge=lfstext -text

# Unreal Engine
*.uasset lock
*.umap lock

# Localization
*.locres lfs
*.locmeta lfs

# Binaries
*.exe lfs
*.dll lfs

# Audio / Media
*.wav lfs
*.mp3 lfs
*.ogg lfs
*.flac lfs
*.png lfs
*.jpg lfs
*.jpeg lfs
*.tga lfs
*.ico lfs
*.icns lfs
*.bk2 lfs